# Videos
*.mp4
*.avi
*.mov
*.mkv

# Outputs
runs/
outputs/

# video generation outputs
scripts/make_possession_videos.py

# Dataset
data/

# Python
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Model weights
*.pt

# VSCode
.vscode/